.contactos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 100px auto 170px;

    & p {
        font-size: 50px;
        margin-top: 20px;
        font-family: GothamRndBook,Arial,sans-serif;
        font-weight: 600;
    }

    & li {
        margin-top: 40px;
    }

    & h2 {
        font-size: 60px;
        text-decoration: underline;
        font-family: 'Roboto Mono', monospace;
        font-weight: 700;
        color:#528FBB;
    }
}




