.h2-nos {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color:#528FBB;
    margin: 60px auto 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.p-nos {
    text-align:start;
    font-size: 30px;
    margin: 40px auto 0;
    width: 70%;
    font-family: GothamRndBook,Arial,sans-serif;
    font-weight: 400;
}

.p2-nos {
    text-align:start;
    font-size: 30px;
    margin: 20px auto 200px;
    width: 70%;
    font-family: GothamRndBook,Arial,sans-serif;
    font-weight: 400;
}